Welcome <%= current_user.username %>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Adrift Beauty</title>
        <meta name="generator" content="Adrift Beauty" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Fixed header with independent scrolling left nav and right content." />
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <link rel="apple-touch-icon" href="/bootstrap/img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/bootstrap/img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/bootstrap/img/apple-touch-icon-114x114.png">

        <!-- CSS code from Bootply.com editor -->

        <style type="text/css">
            /* custom template */
html, body {
   height: 100%;
   font-family:verdana,arial,sans-serif;
   color:#555555;
}
#site-logo {
  padding-top: 1px;
  padding-left: 1px;
}
#add-button {
  float: right;
}

.nav {
   font-family:Arial,sans-serif;
   font-size:13px;
}
a.dropdown-toggle {
  padding-right: 10px;
}
a {
  color:#222222;
}
a:hover {
  text-decoration:none;
}
hr {
  border-color:#dedede;
}
/* HIDE <input> */
input.radio:empty { margin-left: -9999px; }
/* CUSTOM LABEL */
input.radio:empty ~ label {
 position: relative;
 float: left;
 line-height: 2.5em;
 text-indent: 3.25em;
 margin-top: 2em;
 cursor: pointer;
 -webkit-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}
/* Label, not hovered or checked */
input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}
/* On Hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}
input.radio:hover:not(:checked) ~ label { color: #888; }
/* Checked */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #9CE2AE;
	background-color: #4DCB6D;
}
input.radio:checked ~ label { color: #777; }
/* On Focus */
input.radio:focus ~ label:before { box-shadow: 0 0 0 3px #999; }
#rig {
    max-width:60%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color: white;
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:100%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}
#rig li:hover .rig-img {
    transform:scale(1.05);
}
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}
/* If have captions */
.rig-text {
    display:block;
    margin: 0 auto;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:10px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:25%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}
@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}
@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}
@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}
.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}
.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}
.wrapper:after,
.column:after {
    clear: both;
}
.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}
.column .padding {
    padding: 20px;
}
.full{
	padding-top:70px;
}
.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color:#444444;
  /*
    background-image:url('/assets/example/bg_suburb.jpg');
    background-size:cover;
    background-attachment:fixed;
  */
}
.divider {
	margin-top:32px;
}
.navbar-blue {
    border-width:0;
	  background-color:#000000;
    color:#ffffff;
    font-family:arial,sans-serif;
    top:0;
    position:fixed;
    width:inherit;
}
.navbar-blue li > a,.navbar-toggle  {
   color:#efefef;
}
.navbar-blue .dropdown-menu li a {color:#2A4888;}
.navbar-blue .dropdown-menu li > a {padding-left:30px;}
.navbar-blue li>a:hover, .navbar-blue li>a:focus, .navbar-blue .open, .navbar-blue .open>a, .navbar-blue .open>a:hover, .navbar-blue .open>a:focus {
   background-color:#2A4888;
   color:#fff;
}
#logged_in {
  float: right;
}
#main {
   background-color:#e9eaed;
   padding-left:0;
   padding-right:0;
   width: 100%;
}
#main .img-circle {
   margin-top:18px;
   height:70px;
   width:70px;
}
#sidebar {
    padding:0px;
	padding-top:15px;
}
#submit {
  float: right;
  margin-top: 10px;
  width: 100%;
}
#sidebar, #sidebar a, #sidebar-footer a {
    color:#ffffff;
    background-color:transparent;
	text-shadow:0 0 2px #000000;
    padding-left:5px;
}
#sidebar .nav li>a:hover {
    background-color:#393939;
}
.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#3B5999;
  height:28px;
  width:28px;
  margin:9px;
  margin-right:2px;
  margin-left:15px;
  font-size:20px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 1px;
  border-radius:2px;
}
#sidebar-footer {
  background-color:#444;
  position:absolute;
  bottom:5px;
  padding:5px;
}
#footer {
  margin-bottom:20px;
  position: center;
  align: center; 
}
/* bootstrap overrides */
h1,h2,h3 {
   font-weight:800;
}
.navbar-toggle, .close {
	outline:0;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
}

.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus  {
	background-color:#3B5999;
    color:#fffffe;
}

.btn-default {
    color:#666666;
    text-shadow:0 0 1px rgba(0,0,0,.3);
}

.form-control {
}

.panel textarea, .well textarea, textarea.form-control
{
   resize: none;
}
.badge{
   color:#3B5999;
   background-color:#fff;
}
.badge:hover, .badge-inverse{
   background-color:#3B5999;
   color:#fff;
}
.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}
.panel-default .panel-heading {
  background-color:#f9fafb;
  color:#555555;
}
.col-sm-9.full {
    width: 100%;
}
.modal-header, .modal-footer {
	background-color:#f2f2f2;
    font-weight:800;
    font-size:12px;
}
.modal-footer i, .well i {
    font-size:20px;
    color:#c0c0c0;
}
.modal-body {
	padding:0px;
}
.modal-body textarea.form-control
{
   resize: none;
   border:0;
   box-shadow:0 0 0;
}
small.text-muted {
  font-family:courier,courier-new,monospace;
}
/* adjust the contents on smaller devices */
@media (max-width: 768px) {
  .column .padding {
    padding: 7px;
  }
  .full{
	padding-top:20px;
  }
  .navbar-blue {
	background-color:#3B5999;
    top:0;
    width:100%;
    position:relative;
  }
}
/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-left.active {
    left: 33%;
  }
  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -33%;
    position: absolute;
    top: 0;
    width: 33%;
    margin-left: 5px;
  }
  #sidebar, #sidebar a, #sidebar-footer a {
    padding-left:3px;
  }
}

</style>

    </head>


    <body >

        <div class="wrapper">
    <div class="box">
        <div class="row row-offcanvas row-offcanvas-left">

            <div class="column col-sm-10 col-xs-11" id="main">

                <!-- top nav -->
              	<div class="navbar navbar-blue navbar-static-top">
                    <div class="navbar-header">
                      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
          				<span class="icon-bar"></span>
          				<span class="icon-bar"></span>
                      </button>
                    <img src="/img/Adrift.png" id="site-logo" width=50px;></img>
                  	</div>
                  	<nav class="collapse navbar-collapse" role="navigation">

                    <ul class="nav navbar-nav">

                      <li>
                        <a href="#postModal" role="button" data-toggle="modal"><span class="badge">Add Product</span></a>
                      </li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">

                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.username %>  <i class="glyphicon glyphicon-user"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="/products">My Collection</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
                <!-- /top nav -->

                <div class="padding">
                    <div class="full col-sm-9">

                        <!-- content -->
                      	<div class="row">
                          <page-header class="header"><img src="/img/Adrift.png" id="site-logo" width=200px;></img></page-header>

                         <!-- main col left -->

                         <div class="col-sm-5">

                              <div class="panel panel-default">
                                <div class="panel-thumbnail"><img src="/assets/example/bg_5.jpg" class="img-responsive"></div>
                                <div class="panel-body">
                                  <p class="lead"> Welcome, <%= current_user.name %></p>
                                  <p> <%= current_user.products.size %> product(s)</p>
                                </div>
                              </div>


                              <div class="panel panel-default">

                                <div class="panel-heading">
                                  <a href="#postModal" id ="add-button" role="button" data-toggle="modal"><span class="badge">Add Pair</span></a>
                                   <h4>Your Product Collection</h4>
                                 </div>
                                  <div class="panel-body">
                                    <div class="list-group">

                                      <% current_user.products.each do |product| %>
                                        <a href= '/products/<%= product.id %>' role="button" class="list-group-item"><img width=50 src= "<%=product.image_url%>"> <%=product.brand%> - <%=product.name%></a>
                                      <% end %>
                                    </div>
                                  </div>
                              </div>




                          </div>

                          <!-- main col right -->
                          <div class="col-sm-7">

                            <div class="panel panel-default">
                              <div class="panel-heading"><h4>Adrift Beauty</h4></div>
                              <div class="panel-body">
                              A place of curation, browsing, imagining and connecting for skincare junkies.<br><br>
                            </div>
                            </div>


                       </div>

                    </div>



<!--post modal-->
<div id="postModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			Add a Product
      </div>
      <div class="modal-body">
          <form action="/products/new" method=POST class="form center-block">
            <div class="form-group">

              <textarea class="form-control input-lg" name = "brand" autofocus="" placeholder="Product Brand"></textarea>
              <textarea class="form-control input-lg" name = "name" autofocus="" placeholder="Product Name"></textarea>

            </div>
            <input class="btn btn-primary btn-sm" type="submit" value="Submit" id="submit">
          </form>
      </div>
      </div>
  </div>
  </div>


  <div id="postModal2" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  			Add Product To Wishlist
        </div>
        <div class="modal-body">
            <form action="/products/new" method=POST class="form center-block">
              <div class="form-group">

                <textarea class="form-control input-lg" name = "brand" autofocus="" placeholder="Product Brand"></textarea>
                <textarea class="form-control input-lg" name = "style_name" autofocus="" placeholder="Product Name"></textarea>

              </div>
              <input class="btn btn-primary btn-sm" type="submit" value="Submit" id="submit">
            </form>
        </div>
        </div>
    </div>
    </div>
</div>

<footer id="footer"><img src="/img/Adrift.png" id="site-logo" width=200px;></img></footer>



      </div>
  </div>
  </div>
</div>

        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>







        <!-- JavaScript jQuery code from Bootply.com editor  -->

        <script type='text/javascript'>
        $(document).ready(function() {
            /* off-canvas sidebar toggle */
$('[data-toggle=offcanvas]').click(function() {
  	$(this).toggleClass('visible-xs text-center');
    $(this).find('i').toggleClass('glyphicon-chevron-right glyphicon-chevron-left');
    $('.row-offcanvas').toggleClass('active');
    $('#lg-menu').toggleClass('hidden-xs').toggleClass('visible-xs');
    $('#xs-menu').toggleClass('visible-xs').toggleClass('hidden-xs');
    $('#btnShow').toggle();
});
        });
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-40413119-1', 'bootply.com');
          ga('send', 'pageview');
        </script>


    </body>
</html>
