<head>
  <style>

* { box-sizing:border-box; }

body {
  margin-top: 20vh;
	font-family: Helvetica;
	background: rgba(242, 196, 194);
  -webkit-font-smoothing: antialiased;
}

hgroup {
	text-align:center;
	margin-top: 2em;
}

h2 { font-weight: 200;
color: #636363; }

a {
color: black;
}

form {
	width: 380px;
  margin-top: 30vh;
	margin: 10em auto;
	padding: 3em 2em 2em 2em;
	background: white;
  text-align: center;
	border: 2px solid #ebebeb;
	filter: drop-shadow(0 0 20px #333);
}

/* Underline */

</style>
</head>
<form>
  <div id="contact">
  <h2> <%= @product.brand %> - <%= @product.name %></h2><br>
    <img src="<%= @product.image_url %>"></img>

    <p style="font-weight: bold;"> Note(s):</p><br> <p><%= @product.note %></p><br>

    <a href="/products/<%= @product.id %>/delete">Delete</a>
    &nbsp; | &nbsp;
    <a href="/products/<%= @product.id %>/edit">Edit Note</a>
  </div>
</form>
