<head>
  <style>
  * { box-sizing:border-box; }
body {
  font-family: Helvetica;
  -webkit-font-smoothing: antialiased;
}

hgroup {
	text-align:center;
	margin-top: 4em;
}

h1, h3 { font-weight: 300; }
h1 { color: #636363; }
h3 { color: #4a89dc; }

form {
  display: inline-block;
  width: 100%;
  margin-top: 1vh;
	margin: auto;
  float:left;
	padding: 3em 2em 2em 2em;
	background: white;
  text-align: center;
	border: 1px solid rgba(225, 211, 119);
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}
</style>
</head>

<body>


<% @products.each do |product| %>
<form>
  <div id="contact">
    <h2> <%= product.brand  %> - <%= product.name %></h2><br>
    <img src= "<%= product.image_url %>"> </img>
    <p> <%= product.note %> </p>
    <h4>Posted by:</h4>
    <%= product.user.name %>
  </div>
</form>
<%end%>

</body>
